In [1]:
import sys, os
sys.path.append("../src")

from data_prep import load_and_clean
import pandas as pd

# Load and clean dataset
df = load_and_clean("NCRB_Table_1A.1.csv")

# Inspect dataset
display(df.head())
df.info()

# Save cleaned version for reuse
os.makedirs("../outputs", exist_ok=True)
df.to_csv("../outputs/cleaned_crime.csv", index=False)
print("✅ Cleaned dataset saved to outputs/cleaned_crime.csv")

,state_ut,population_lakhs,crime_rate_ipc_2022,chargesheeting_rate_2022,year,total_crimes
0,Andhra Pradesh,530.3,299.0,86.5,2020,188997
1,Arunachal Pradesh,15.5,148.8,47.2,2020,2244
2,Assam,354.9,167.1,32.6,2020,111558
3,Bihar,1255.3,168.1,75.4,2020,194698
4,Chhattisgarh,299.5,246.5,80.4,2020,65216

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   state_ut                  117 non-null    object
 1   population_lakhs          117 non-null    float64
 2   crime_rate_ipc_2022       117 non-null    float64
 3   chargesheeting_rate_2022  117 non-null    float64
 4   year                      117 non-null    int32
 5   total_crimes              117 non-null    int64
dtypes: float64(3), int32(1), int64(1), object(1)
memory usage: 5.2+ KB
✅ Cleaned dataset saved to outputs/cleaned_crime.csv